<!DOCTYPE html>
<html>
  <head>
    <title>Quest fron-end</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <script src="js/lib/jquery-2.0.3.js"></script>
    <script src="js/lib/underscore.js"></script>
    <script src="js/lib/backbone.js"></script>
    <script src="js/lib/mustache.js"></script>
    <script src="js/lib/bootstrap.js"></script>

    <!-- Models -->
    <script src="js/models/question.js"></script>
    <script src="js/models/answer.js"></script>
    <!-- Collections -->
    <script src="js/collections/quiz.js"></script>
    <!-- Views -->
    <script src="js/views/admin.js"></script>
    <script src="js/views/adminQuestion.js"></script>
    <script src="js/views/question.js"></script>
    <script src="js/views/answer.js"></script>
    <script src="js/views/quiz.js"></script>
    
    <script src="js/app.js"></script>

    <script>
    	app = app || {};
    	app.resetData = function(){
    		app.dev.col.reset(<%= @questions %>);
    	};
    </script>

  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Sinatra Backbone whatever app</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        </ul>
        <div class="nav navbar-nav navbar-right">
          <li>
            <a href="#" class="startAdmin">Administraion</a>
          </li>
          <li>
            <a href="#" class="restart">Restart Quiz</a>
          </li>
        </div>
      </div><!-- /.navbar-collapse -->
    </nav>

    <div class="col-lg-2">
      <div class="stats col-lg-2" style="display:none">
        <div class="correct label-info">
          Correct: <span class="good pull-right">0</span>
        </div>
        <div class="mistakes label-danger">
          Mistakes: <span class="bad pull-right">0</span>
        </div>
      </div>
    </div>
    <script>

    </script>

    <div class="col-lg-8">
      <div class="jumbotron">
          <h1>Take a quiz! Yay.</h1>
          <p>Welcom to quick ruby quiz. Press start quiz to show first question. Mark ALL correct answers and click submit to evaluate question</p>
          <a class="btn btn-warning btn-lg startButton">Start quiz</a>
      </div>
    </div>

    <div class="col-lg-2 messages">
    </div>
  </body>

  <script type="text/template" id="question_template">
    <div class="col-lg-12 clearfix">
      <div class="question"><pre><h2>{{{question}}}</h2></pre></div>
      <div class="answers">
      </div>
      <a class="btn btn-warning btn-lg pull-right">Submit</a>
    </div>
  </script>

  <script type="text/template" id="admin_template">
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Administration</h4>
        </div>
        <div class="modal-body">
        </div>
        <div>
          <button type="button" class="btn btn-default btn-success addQuestion">
            <span class="glyphicon glyphicon-plus"></span>Add question
          </button>
        </div>
      </div>
    </div>
  </div>
  </script>

  <script type="text/template" id="admin_question_template">
    <div class="adminQuestion">
      <div class="questionHeader clearfix well pointer">
        <span class="pull-right toggle glyphicon glyphicon-resize-full"></span>
        <div class="headerQuestion pull-left">{{{headerQuestion}}}</div>        
      </div>
      <div class="questionBody clearfix" style="display:none">
        <textarea class="form-control questionText">{{question}}</textarea>
        <div class="answers"></div>
        <hr>
        <button type="button" class="addAnswer btn btn-default btn-success">
          <span class="glyphicon glyphicon-plus"></span>Add answer
          </button>
        <button type="button" class="btn btn-default btn-danger pull-right removeQuestion">
          <span class="glyphicon glyphicon-remove"></span>Delete question
          </button>
      </div>
    </div>
  </script>

  <script type="text/template" id="admin_answer_template">
    <div class="adminAnswer form-inline">
        <div class="form-group">
          <button type="button" class="btn btn-default btn-xs btn-danger removeAnswer">
          <span class="glyphicon glyphicon-remove"></span>Delete
          </button>
        </div>
        <div class="form-group">
        <input type="text" value="{{answer}}" class="form-control answerText">
        </div> 
        <div class="form-group">
        <label>
          <input type="checkbox" class="form-control correct" {{#correct}}checked="true"{{/correct}}> Correct
        </label>
        </div>
    </div>
  </script>

</html>
